body {
    background-image: url(../fundoDoJogo.jpg);
}

.TituloHome {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 5px blue;
}

.titulodifi {
    font-size: 50px;
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.teste {
    text-decoration: none;
}

a:visited {
    color: white;
}

.card {
    --border-width: 5px;
    position: relative;
    margin: 20px 38%;
    display: inline-block;
    border-radius: 1rem;
    padding: var(--border-width);
    overflow: hidden;
    cursor: pointer;
}
.borda {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: 500ms;
}

.borda::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 48%;
    left: 50%;
    min-width: 150%;
    min-height: 200%;
    aspect-ratio: 1/1;
    background: conic-gradient(from 0deg, rgb(148, 245, 148), rgb(96, 245, 96), rgb(29, 233, 29), rgb(3, 145, 3));
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate 5s linear infinite;
}

@keyframes rotate {

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.content {
    position: relative;
    border-radius: inherit;
    padding: 1rem .75rem;
    box-shadow: inset 0 0 0 3px;
    background: rgb(9, 172, 9);
    font-size: 40px;
    font-family: Indie Flower;
    min-width: 400px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card:hover .borda {
    opacity: 1;
}

.cardMedio {
    --border-width: 5px;
    position: relative;
    margin: 20px 38%;
    display: inline-block;
    border-radius: 1rem;
    padding: var(--border-width);
    overflow: hidden;
    cursor: pointer;
}

.bordaMedio {
    position: absolute;
    inset: 0;
    border-radius: inherit;

    opacity: 0;
    transition: 500ms;
}

.bordaMedio::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 48%;
    left: 50%;
    min-width: 150%;
    min-height: 200%;
    aspect-ratio: 1/1;
    background: conic-gradient(from 0deg, rgb(248, 248, 125), rgb(201, 201, 85), rgb(172, 172, 47), rgb(75, 75, 2));
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.contentMedio {
    position: relative;
    border-radius: inherit;
    padding: 1rem .75rem;
    box-shadow: inset 0 0 0 1px;
    background: rgb(224, 149, 8);
    font-size: 40px;
    font-family: Indie Flower;
    min-width: 400px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardMedio:hover .bordaMedio {
    opacity: 1;
}

.cardDificil {
    --border-width: 5px;
    position: relative;
    margin: 20px 38%;
    display: inline-block;
    border-radius: 1rem;
    padding: var(--border-width);
    overflow: hidden;
    cursor: pointer;
}

.bordaDificil {
    position: absolute;
    inset: 0;
    border-radius: inherit;

    opacity: 0;
    transition: 500ms;

}

.bordaDificil::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 48%;
    left: 50%;
    min-width: 150%;
    min-height: 200%;
    aspect-ratio: 1/1;
    background: conic-gradient(from 0deg, rgb(252, 138, 138), rgb(250, 81, 81), rgb(185, 23, 23), rgb(97, 3, 3));
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate 5s linear infinite;
}

@keyframes rotate {

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.contentDificil {
    position: relative;
    border-radius: inherit;
    padding: 1rem .75rem;
    box-shadow: inset 0 0 0 1px;
    background: rgb(240, 6, 6);
    font-size: 40px;
    font-family: Indie Flower;
    min-width: 400px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardDificil:hover .bordaDificil {
    opacity: 1;
}

.corfacil {
    background-color: rgb(255, 150, 31);
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    font-family: 'Chicle', serif;
    text-decoration: none;
    transition: 1000ms;
}

.corfacil:hover {
    background-color: rgb(250, 137, 8);
    border-radius: 40px;
    border-color: aquamarine;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
}


.cormedio {
    background-color: rgb(115, 124, 252);
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    font-family: 'Chicle', serif;
    transition: 1000ms;
}

.cormedio:hover {
    background-color: rgb(71, 83, 250);
    border-radius: 40px;
    border-color: aquamarine;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;

}

.cordificil {
    background-color: rgb(255, 174, 0);
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    transition: 1000ms;
}

.cordificil:hover {
    background-color: rgb(201, 139, 5);
    border-radius: 40px;
    border-color: aquamarine;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
}

.Opcoes {
    font-size: 40px;
    color: black;
    list-style-type: none;
    text-align: center;
    margin-top: 300px;

}

.opcoesClicarJogar {
    color: azure;
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    font-family: 'Chicle', serif;
    background-color: rgb(88, 88, 253);
}

.opcoesClicarJogar:hover {
    border-radius: 40px;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    background-color: rgb(36, 36, 236);
    transition: 1000ms;
    border: 4px white inset;
    text-shadow: 4px 4px rgb(0, 0, 0);
}

.opcoesClicarCadastro {
    color: azure;
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    font-family: 'Chicle', serif;
    background-color: rgb(253, 64, 95);
}

.opcoesClicarCadastro:hover {
    border-radius: 40px;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    background-color: rgb(240, 30, 65);
    transition: 1000ms;
    border: 4px white inset;
    text-shadow: 4px 4px black;
}

.opcoesClicarHistorico {
    color: azure;
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    font-family: 'Chicle', serif;
    background-color: rgb(236, 96, 255);
}

.opcoesClicarHistorico:hover {
    border-radius: 40px;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    background-color: rgb(127, 20, 141);
    transition: 1000ms;
    border: 4px white inset;
    text-shadow: 4px 4px black;
}

.opcoesClicarRanking {
    color: azure;
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    font-family: 'Chicle', serif;
    background-color: rgb(167, 71, 247);
}

.opcoesClicarRanking:hover {
    border-radius: 40px;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    background-color: rgb(119, 7, 211);
    transition: 1000ms;
    border: 4px white inset;
    text-shadow: 4px 4px black;
}

.opcoesClicarTorneio {
    color: azure;
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    font-family: 'Chicle', serif;
    background-color: rgb(252, 87, 230);
}

.opcoesClicarTorneio:hover {
    border-radius: 40px;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    background-color: rgb(180, 15, 158);
    transition: 1000ms;
    border: 4px white inset;
    text-shadow: 4px 4px black;
}

.titulofacil {
    font-size: 50px;
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
    text-align: left;
}


button {
    background-color: #968109;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 50px;
    border-radius: 50%;
}

button::before {
    font-size: 20px;
    display: inline-block;
    margin-right: 5px;
}

.imgLogo {

    margin: auto 450px;
    position: absolute;
    width: 800px;
    bottom: 100px;
}