body{
    background-image: url(fundoDoJogo.jpg);
}


.TituloHome{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 5px blue;
    
}

.titulodifi {
    font-size: 50px;
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.teste {
    text-decoration: none;

}


a:visited {
    color: white;
}


.corfacil  {
   background-color: rgb(255, 150, 31);
   display: block;
   margin: 0 auto 30px auto;
   width: 500px;
   height: 50x;
   border-radius: 40px;
   font-family: 'Chicle', serif;
   text-decoration: none;
   transition: 1000ms;
}
.corfacil:hover  {
    background-color: rgb(250, 137, 8);
    border-radius: 40px;
    border-color: aquamarine;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
}
 

.cormedio {
    background-color: rgb(115, 124, 252);
    display: block;
margin: 0 auto 30px auto;
width: 500px;
height: 50x;
border-radius: 40px;
font-family: 'Chicle', serif;
transition: 1000ms;
}

.cormedio:hover {
    background-color: rgb(71, 83, 250);
    border-radius: 40px;
    border-color: aquamarine;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    
}

.cordificil {
    background-color: rgb(255, 174, 0);
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    transition: 1000ms;
}

.cordificil:hover {
    background-color: rgb(201, 139, 5);
    border-radius: 40px;
    border-color: aquamarine;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
}

.Opcoes{
    

    font-size: 40px;
    color: black;
    list-style-type: none;
    text-align: center;
    padding: 5%;
}


.opcoesClicarJogar{
color:azure;
display: block;
margin: 0 auto 30px auto;
width: 500px;
height: 50x;
border-radius: 40px;
font-family: 'Chicle', serif;
background-color: rgb(88, 88, 253);
}

.opcoesClicarJogar:hover{
border-radius: 40px;
width: 600px;
height: 80px;
text-align: center;
font-size: 60px;
background-color: rgb(36, 36, 236);
transition: 1000ms;
border: 4px white inset;
text-shadow: 2px 2px rgb(0, 0, 0);
 }

 .opcoesClicarCadastro{

    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    height: 50x;
    border-radius: 40px;
    font-family: 'Chicle', serif;
    background-color: pink;
    }
    
    .opcoesClicarCadastro:hover{
    border-radius: 40px;
    width: 600px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    background-color: rgb(226, 98, 119);
    transition: 1000ms;
    border: 4px white inset;
    text-shadow: 2px 2px rgb(255, 255, 255);
    }

    .opcoesClicarHistorico{

        display: block;
        margin: 0 auto 30px auto;
        width: 500px;
        height: 50x;
        border-radius: 40px;
        font-family: 'Chicle', serif;
        background-color: rgb(236, 96, 255);
        }
        
        .opcoesClicarHistorico:hover{
        border-radius: 40px;
        width: 600px;
        height: 80px;
        text-align: center;
        font-size: 60px;
        background-color: rgb(127, 20, 141);
        transition: 1000ms;
        border: 4px white inset;
        text-shadow: 2px 2px rgb(255, 255, 255);
        }
    
        .opcoesClicarRanking{

            display: block;
            margin: 0 auto 30px auto;
            width: 500px;
            height: 50x;
            border-radius: 40px;
            font-family: 'Chicle', serif;
            background-color: rgb(167, 71, 247);
            }
            
            .opcoesClicarRanking:hover{
            border-radius: 40px;
            width: 600px;
            height: 80px;
            text-align: center;
            font-size: 60px;
            background-color: rgb(119, 7, 211);
            transition: 1000ms;
            border: 4px white inset;
            text-shadow: 2px 2px rgb(255, 255, 255);
            }

            .opcoesClicarTorneio{

                display: block;
                margin: 0 auto 30px auto;
                width: 500px;
                height: 50x;
                border-radius: 40px;
                font-family: 'Chicle', serif;
                background-color: rgb(252, 87, 230);
                }
                
                .opcoesClicarTorneio:hover{
                border-radius: 40px;
                width: 600px;
                height: 80px;
                text-align: center;
                font-size: 60px;
                background-color: rgb(180, 15, 158);
                transition: 1000ms;
                border: 4px white inset;
                text-shadow: 2px 2px rgb(255, 255, 255);
                }

 .titulofacil {
    font-size: 50px;
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
    text-align: left;
 }


 button {
    background-color: #968109;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 50px;
    border-radius: 50%;
  }
  
  button::before {
    font-size: 20px;
    display: inline-block;
    margin-right: 5px;
  }

